<div class="table-responsive">

   <table class="table table-striped table-bordered">

       <tr>
           <th *ngFor="let h of heads">
                {{h}}
           </th>
       </tr>
       <tr *ngFor="let obj of data">
            <td *ngFor="let k of keys">
                  {{obj[k]}}
            </td>
            <td>
                <i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" data-target="#myModal" (click)="fnEdit(obj)"></i>

            </td>
            <td>
                <i class="fa fa-trash" aria-hidden="true" (click)="fnDelete(obj)"></i>
            </td>
       </tr>



   </table>






</div>
