<div class="container">
    
    <!-- Button to Open the Modal -->
    
    
   
  
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Fill Developer Information</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <div class="container">
              <form [formGroup]="EmpData">
            <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control" name="name" formControlName="name" required >

            </div>
            <div class="form-group">
              <label>Age:</label>
              <input type="text" class="form-control" name="age" formControlName="age" required >

          </div>
          <div class="form-group">
            <label>Mobile:</label>
            <input type="text" class="form-control" name="mobile" formControlName="mobile" required >

        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="text" class="form-control" name="email" formControlName="email">
       
      </div>
      <div class="form-group">
          <label>Gender:</label>
          <input type="text" class="form-control" name="gender" formControlName="gender">
       
      </div>
    </form>
    </div>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" (click)="addEmp()" [disabled]="!EmpData.valid" data-dismiss="modal"  >Add</button>
            <button type="button" class="btn btn-success" (click)="editEmp()" [disabled]="!EmpData.valid" data-dismiss="modal"  >save</button>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
